absl-py==
astunparse
cachetools
certifi
chardet
cycler
dlib
gast
google-auth
google-auth-oauthlib
google-pasta
graphviz
grpcio
h5py
idna
imutils
joblib
Keras-Preprocessing
kiwisolver
Markdown
matplotlib
numpy
oauthlib
opencv-python
opt-einsum
pandas
protobuf
pyasn1
pyasn1-modules
pydot
pyparsing
python-dateutil
pytz
requests
requests-oauthlib
rsa
scikit-learn
scikit-plot
scipy
seaborn
six
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-estimator
termcolor
urllib3
Werkzeug
wrapt